<table class="table table-striped">
  <thead>
    <tr>
      <th>Text</th>
      <th>Prediction</th>
    </tr>
  </thead>
  <tbody>
    {% for text, pred in model_predictions %}
    <tr>
      <td>{{text}}</td>
      <td>{{pred}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
