<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
        <title>Results</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.5/jquery.csv.js"></script>

        <link rel="shortcut icon" type="image/png" href="static/icon.png"/>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1>Naïve Bayes Training Results</h1>
            <p>Results of training the Naïve Bayes model.</p>
        </div>

        <div class="container">
            <div class="row justify-content-center">
              <h3>Confusion Matrix</h3>
            </div>
            <div class="row justify-content-center" style="padding-bottom: 50px;">
                <img src="data:image/jpeg;base64,{{image}}" alt="">
            </div>
            <div class="row justify-content-center">
              <h3>Classification Report</h3>
            </div>
            <div class="row justify-content-center" style="padding-bottom: 50px;">
                <pre>{{report}}</pre>
            </div>
            <div class="row justify-content-center">
              <h3>Accuracy</h3>
            </div>
            <div class="row justify-content-center" style="padding-bottom: 50px;">
                <div class="display-1">
                  {{accuracy}} %
                </div>
            </div>
        </div>
    </body>
</html>
